
h1 { 
    font-family: 'Mulish', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0px;
    text-align: left;
    
}

h3 {

    font-family: 'Mulish', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;



}

h4 {

    font-family: 'Mulish', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: -0.42307689785957336px;
    text-align: left;

}


h6 {

    font-family: 'Mulish', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0px;
    text-align: left;
    

}






li{
    font-family: 'Mulish', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: -0.3461538851261139px;
    text-align: left;
    color:  #111111;
    list-style: none;


}

hr{
    width: 100%;
    background: #D8D8D8;
    color: #D8D8D8;
    text-shadow: none;
    height: 2px;
    border: none;

}

.opacity {
    opacity: 0.6;
}

.blue-text {

    color: #4A4FF2;

}

.italic {

    font-style: italic;
}

.style-none {

    color: #111111;
    list-style: none;
    text-shadow: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: none;
    stroke: none;
    
}