header {
    
    max-width: 1110;
    
    height: 23px; 
    margin-top: 61px;
    margin-left: 125;
    margin-right: 125;
    display: flex;
    // justify-content: space-between;
    // padding-left: 125;
    // padding-right: 125;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}


    .logo {

        // align-items: flex-start;
        // margin-top: 61px;
        height: 19px;
    }
    nav {
       
        // align-self: flex-end;
        width: 170px;
        flex-direction: row;
        font-family: 'Mulish', sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 23px;
        letter-spacing: -0.3461538851261139px;
        text-align: left;
        display: flex;
        list-style-type: none;
    }

    .nav__list {
                
        display: flex;
        stroke: none;
        flex-direction: row;
        // justify-content: flex-end;

     }
            
     
    li {
        // justify-self: flex-end;
        margin-left: 30;
        
    }

   





