$main-txt-color: black;

main{

    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
}





    img{
        
        margin-top: 15px;
        // padding-bottom: 10px;
        
        
    }