



@import 'header';
@import 'main';
@import 'container';
@import 'footer';
@import 'fonts';
@import 'flex';




body {

    padding-top:  60;
    padding-left: 125;
    padding-right: 125;
    padding-bottom: 47;
    
}



